<%- include('admin_components/header') %>
<body>
  
  <div class="container">
    <div class="card mt-3">
      <div class="card-header">
        <h2>Bem vindo a Administração</h2><br>
        <h5>O que deseja ver?</h5>
      </div>
      <div class="card-body">
        <a href="/admin/categories" class="btn btn-primary btn-lg">Categorias</a>

      </div>
    </div>
  </div>
</body>
<%- include('admin_components/footer') %>