<footer>
  <div class="conteudo-logo">
    <img src="img/logo.png" alt="">
  </div>
  <div class="informacoes">
    <li><a href="">Fale conosco</a></li>
    <li><a href="">Dúvidas e Reclamações</a></li>
    <li><a href="admin/categories">Não achou? Faça sua encomenda</a></li>
  </div>
  <div class="creditos">
    <p><a href="https://lucasfelipeluz.github.io/" target="blank">Desenvolvido por Lucas Luz</a></p>
  </div>
</footer>
