<%- include('components/head') %> 
<body>
  <%- include('components/header') %> 
  


  <main>
    <section>
      <h1 class="titulo-section">
        DESTAQUES
      </h1>

      <div class="conteudo-section">

        <a href="/" class="conteudo-filho">
          <div class="apresentacao">
            <img src="img/camisa-1.png" alt="" class="camisa">
          </div>
          <div class="informacoes">
            <p class="titulo-produto">Internacional I 21/22</p>
            <p class="subtitulo-produto">Torcedor</p>
            <div class="preco">
              <p class="avista">R$69,99</p>
              <p class="parcela">3x de R$ 23,35</p>
            </div>  
          </div>
        </a>

      </div>

    </section>
  </main>
  <%- include('components/footer') %> 
</body>
<%- include('components/foot') %> 